body {
    color: #444;
    font-family: Helvetica Neue, Helvetica, Arial, PingFang SC, Hiragino Sans GB, WenQuanYi Micro Hei, Microsoft Yahei, sans-serif;
    font-size: 87.5%;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
    background: #e7e7e7 url(../images/body-bg.png) 0 0 repeat;

    padding: 0;
    margin: 0;
}
header {
    padding-top: 35px;
    padding-bottom: 25px;
}
header h1 {
    font-family: 'Chivo', 'Helvetica Neue', Helvetica, Arial, serif;
    font-size: 48px;
    font-weight: 900;
    line-height: 1.2;
    color: #303030;
    letter-spacing: -1px;
    margin: 0;
}
h3 {
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: bold;
    color: #d5000d;
}
#container {
    min-height: 595px;
    background: transparent url(../images/highlight-bg.jpg) 50% 0 no-repeat;
}
#container img {
    max-width: 100%;
}
.inner {
    width: 620px;
    margin: 0 auto;
}
hr {
    height: 1px;
    padding-bottom: 1em;
    margin-top: 1em;
    line-height: 1px;
    background: transparent url('../images/hr.png') 50% 0 no-repeat;
    border: none;
}
footer {
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 40px;
    font-size: 13px;
    color: #aaa;
    background: transparent url('../images/hr.png') 0 0 no-repeat;
}